# Explore Census Data

In [1]:
import pandas as pd

import warnings
warnings.simplefilter(action='ignore')

### Explore population data

In [16]:
#read population census data in
pop_in = pd.read_csv('data/2018-pop-estimates.csv', encoding = "ISO-8859-1")

In [17]:
pop_in

,GEO.id,GEO.id2,GEO.display-label,rescen42010,resbase42010,respop72010,respop72011,respop72012,respop72013,respop72014,respop72015,respop72016,respop72017,respop72018
0,Id,Id2,Geography,"April 1, 2010 - Census","April 1, 2010 - Estimates Base",Population Estimate (as of July 1) - 2010,Population Estimate (as of July 1) - 2011,Population Estimate (as of July 1) - 2012,Population Estimate (as of July 1) - 2013,Population Estimate (as of July 1) - 2014,Population Estimate (as of July 1) - 2015,Population Estimate (as of July 1) - 2016,Population Estimate (as of July 1) - 2017,Population Estimate (as of July 1) - 2018
1,0500000US01001,01001,"Autauga County, Alabama",54571,54574,54754,55208,54936,54713,54876,54838,55242,55443,55601
2,0500000US01003,01003,"Baldwin County, Alabama",182265,182264,183111,186540,190143,194886,199189,202995,207712,212619,218022
3,0500000US01005,01005,"Barbour County, Alabama",27457,27457,27330,27350,27174,26944,26758,26294,25819,25158,24881
4,0500000US01007,01007,"Bibb County, Alabama",22915,22920,22872,22747,22664,22516,22541,22562,22576,22555,22400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3138,0500000US56037,56037,"Sweetwater County, Wyoming",43806,43806,43574,43981,45005,45162,44957,44754,44275,43547,43051
3139,0500000US56039,56039,"Teton County, Wyoming",21294,21298,21297,21414,21625,22318,22777,23016,23161,23261,23081
3140,0500000US56041,56041,"Uinta County, Wyoming",21118,21121,21089,20893,20994,20953,20827,20770,20691,20456,20299
3141,0500000US56043,56043,"Washakie County, Wyoming",8533,8528,8530,8448,8408,8414,8275,8280,8168,8035,7885
3142,0500000US56045,56045,"Weston County, Wyoming",7208,7208,7199,7142,7077,7137,7138,7197,7213,6986,6967

In [20]:
# after inpsecting the data, I need the first row as the header
pop_in = pd.read_csv('data/2018-pop-estimates.csv', encoding = "ISO-8859-1", header=1)

In [21]:
pop_in

,Id,Id2,Geography,"April 1, 2010 - Census","April 1, 2010 - Estimates Base",Population Estimate (as of July 1) - 2010,Population Estimate (as of July 1) - 2011,Population Estimate (as of July 1) - 2012,Population Estimate (as of July 1) - 2013,Population Estimate (as of July 1) - 2014,Population Estimate (as of July 1) - 2015,Population Estimate (as of July 1) - 2016,Population Estimate (as of July 1) - 2017,Population Estimate (as of July 1) - 2018
0,0500000US01001,1001,"Autauga County, Alabama",54571,54574,54754,55208,54936,54713,54876,54838,55242,55443,55601
1,0500000US01003,1003,"Baldwin County, Alabama",182265,182264,183111,186540,190143,194886,199189,202995,207712,212619,218022
2,0500000US01005,1005,"Barbour County, Alabama",27457,27457,27330,27350,27174,26944,26758,26294,25819,25158,24881
3,0500000US01007,1007,"Bibb County, Alabama",22915,22920,22872,22747,22664,22516,22541,22562,22576,22555,22400
4,0500000US01009,1009,"Blount County, Alabama",57322,57321,57373,57554,57570,57611,57521,57522,57517,57827,57840
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,0500000US56037,56037,"Sweetwater County, Wyoming",43806,43806,43574,43981,45005,45162,44957,44754,44275,43547,43051
3138,0500000US56039,56039,"Teton County, Wyoming",21294,21298,21297,21414,21625,22318,22777,23016,23161,23261,23081
3139,0500000US56041,56041,"Uinta County, Wyoming",21118,21121,21089,20893,20994,20953,20827,20770,20691,20456,20299
3140,0500000US56043,56043,"Washakie County, Wyoming",8533,8528,8530,8448,8408,8414,8275,8280,8168,8035,7885
3141,0500000US56045,56045,"Weston County, Wyoming",7208,7208,7199,7142,7077,7137,7138,7197,7213,6986,6967

In [22]:
population = pop_in.copy()
population.sample(5)

,Id,Id2,Geography,"April 1, 2010 - Census","April 1, 2010 - Estimates Base",Population Estimate (as of July 1) - 2010,Population Estimate (as of July 1) - 2011,Population Estimate (as of July 1) - 2012,Population Estimate (as of July 1) - 2013,Population Estimate (as of July 1) - 2014,Population Estimate (as of July 1) - 2015,Population Estimate (as of July 1) - 2016,Population Estimate (as of July 1) - 2017,Population Estimate (as of July 1) - 2018
241,0500000US06111,6111,"Ventura County, California",823318,823393,825130,830196,833801,838601,842946,846922,848921,850802,850967
2623,0500000US48201,48201,"Harris County, Texas",4092459,4093188,4107828,4179796,4264193,4355158,4458709,4561939,4629189,4664159,4698619
88,0500000US02198,2198,"Prince of Wales-Hyder Census Area, Alaska",5559,6170,6213,6374,6421,6443,6460,6505,6516,6469,6422
1064,0500000US21143,21143,"Lyon County, Kentucky",8314,8319,8331,8436,8449,8455,8413,8311,8084,8113,8009
716,0500000US18039,18039,"Elkhart County, Indiana",197559,197559,197444,198267,198980,200231,201476,203024,203652,204310,205560

For population data, I'll really only need the GeoId column to use to join to a county shapefile, and the last column that contains the most recent population estimates.

### Explore age group data

In [29]:
age_in = pd.read_csv('data/2018-age-populations.csv', encoding = "ISO-8859-1", header=1)

In [30]:
age_in

,Id,Id2,Geography,"April 1, 2010 - Census - Both Sexes; Total","April 1, 2010 - Census - Male; Total","April 1, 2010 - Census - Female; Total","April 1, 2010 - Estimates Base - Both Sexes; Total","April 1, 2010 - Estimates Base - Male; Total","April 1, 2010 - Estimates Base - Female; Total",Population Estimate (as of July 1) - 2010 - Both Sexes; Total,...,Population Estimate (as of July 1) - 2015 - Female; Median age (years),Population Estimate (as of July 1) - 2016 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2016 - Male; Median age (years),Population Estimate (as of July 1) - 2016 - Female; Median age (years),Population Estimate (as of July 1) - 2017 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2017 - Male; Median age (years),Population Estimate (as of July 1) - 2017 - Female; Median age (years),Population Estimate (as of July 1) - 2018 - Both Sexes; Median age (years),Population Estimate (as of July 1) - 2018 - Male; Median age (years),Population Estimate (as of July 1) - 2018 - Female; Median age (years)
0,0500000US01001,1001,"Autauga County, Alabama",54571,26569,28002,54574,26571,28003,54754,...,39.8,38.7,37.2,40.0,38.8,37.5,40.1,39.1,37.7,40.5
1,0500000US01003,1003,"Baldwin County, Alabama",182265,89196,93069,182264,89196,93068,183111,...,43.4,42.8,41.7,43.7,43.0,41.9,44.1,43.3,42.1,44.4
2,0500000US01005,1005,"Barbour County, Alabama",27457,14576,12881,27457,14576,12881,27330,...,43.1,40.3,38.2,43.5,40.9,38.6,44.3,40.9,38.7,44.7
3,0500000US01007,1007,"Bibb County, Alabama",22915,12301,10614,22920,12304,10616,22872,...,42.1,39.7,37.8,42.4,39.8,37.9,42.5,40.0,38.2,42.7
4,0500000US01009,1009,"Blount County, Alabama",57322,28362,28960,57321,28361,28960,57373,...,41.7,40.9,39.8,41.8,40.8,39.8,41.7,40.9,39.9,41.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,0500000US56037,56037,"Sweetwater County, Wyoming",43806,22849,20957,43806,22849,20957,43574,...,34.3,34.7,34.7,34.6,35.3,35.4,35.2,35.8,35.9,35.7
3138,0500000US56039,56039,"Teton County, Wyoming",21294,11191,10103,21298,11194,10104,21297,...,38.3,38.8,38.9,38.6,39.2,39.2,39.2,39.8,39.8,39.7
3139,0500000US56041,56041,"Uinta County, Wyoming",21118,10662,10456,21121,10663,10458,21089,...,35.3,35.3,35.1,35.6,35.9,35.7,36.1,36.5,36.2,36.7
3140,0500000US56043,56043,"Washakie County, Wyoming",8533,4255,4278,8528,4255,4273,8530,...,43.0,42.4,41.7,43.1,43.1,42.1,43.8,43.9,43.2,44.4
3141,0500000US56045,56045,"Weston County, Wyoming",7208,3790,3418,7208,3790,3418,7199,...,43.8,42.5,41.8,43.6,44.1,43.1,45.3,44.6,43.3,46.2

I can see already that there is a lot of data here I won't need. There are 1092 columns, and it appears there is data from 2010-2018. I will only look at data from 2018. There is also data here from every age group, and I will likely only need data related to children, as they are most suceptible to environmental contaminants.

### Explore insurance coverage data

In [37]:
# read insurance coverage data in
insurance_in = pd.read_csv('data/2017-insurance-coverage.csv', encoding = "ISO-8859-1", header=1)

In [38]:
insurance_in

,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,Estimate; Male:,Margin of Error; Male:,Estimate; Male: - Under 6 years:,Margin of Error; Male: - Under 6 years:,Estimate; Male: - Under 6 years: - With health insurance coverage,...,Estimate; Female: - 65 to 74 years: - With health insurance coverage,Margin of Error; Female: - 65 to 74 years: - With health insurance coverage,Estimate; Female: - 65 to 74 years: - No health insurance coverage,Margin of Error; Female: - 65 to 74 years: - No health insurance coverage,Estimate; Female: - 75 years and over:,Margin of Error; Female: - 75 years and over:,Estimate; Female: - 75 years and over: - With health insurance coverage,Margin of Error; Female: - 75 years and over: - With health insurance coverage,Estimate; Female: - 75 years and over: - No health insurance coverage,Margin of Error; Female: - 75 years and over: - No health insurance coverage
0,0500000US01001,1001,"Autauga County, Alabama",54170,270,26247,253,1941,175,1919,...,2567,50,0,27,1738,137,1738,137,0,27
1,0500000US01003,1003,"Baldwin County, Alabama",200929,427,97535,444,7221,399,6966,...,12134,110,8,12,8217,115,8215,115,2,5
2,0500000US01005,1005,"Barbour County, Alabama",23326,241,11225,218,880,76,831,...,1464,28,6,9,1028,84,1028,84,0,21
3,0500000US01007,1007,"Bibb County, Alabama",20553,190,10329,201,845,128,845,...,948,57,0,21,865,74,865,74,0,21
4,0500000US01009,1009,"Blount County, Alabama",57207,155,28269,153,1980,84,1897,...,3194,70,20,34,2186,104,2178,103,8,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,0500000US56037,56037,"Sweetwater County, Wyoming",44244,106,22840,220,2025,141,1888,...,1309,54,11,17,764,61,751,67,13,19
3138,0500000US56039,56039,"Teton County, Wyoming",22865,44,12135,401,598,152,598,...,950,62,0,22,505,33,505,33,0,22
3139,0500000US56041,56041,"Uinta County, Wyoming",20575,56,10500,182,924,92,854,...,703,34,18,30,431,38,431,38,0,22
3140,0500000US56043,56043,"Washakie County, Wyoming",8090,65,4004,89,276,49,251,...,475,23,14,16,353,33,353,33,0,17
3141,0500000US56045,56045,"Weston County, Wyoming",6758,97,3445,124,276,62,219,...,314,7,0,17,329,37,329,37,0,17

The insurance data contains raw numbers, so I will likely need to pull in population data so that I can normalize. And if I look at children as an age group, I can use the percent uninsured as a factor.